.hero-img {
  object-position: center bottom;
}

/* Mobile */
@media (max-width: 767px) {
  .hero-img {
    object-position: center;
  }
}

/* Tablet + Desktop */
@media (min-width: 768px) and (max-width: 2047px) {
  .hero-img {
    object-position: center 40%;
  }
}

/* Widescreen */
@media (min-width: 2048px) {
  .hero-img {
    object-position: center 35%;
  }
}
