---
import "../styles/global.css"
import Posthog from "../components/posthog.astro"

const TITLE = "Lili & Rafa - 25.04.2026"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- iOS status bar and theme color -->
    <meta name="theme-color" content="#f5f1eb" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={TITLE} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <style>
      :root {
        --font-libre-caslon-text: "Libre Caslon Text", serif;
      }
      html,
      body {
        font-family: var(--font-libre-caslon-text), serif;
      }
    </style>

    <title>{TITLE}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<Posthog />

<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }
</style>
